.advantages {
  // width: 320px;
  position: relative;
  // margin: 0 auto;
  background-color: #242424;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -58px;

    height: 35px;

    background-image: url("../img/corner-dark.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
}

.advantages__wrapper {
  position: relative;

  padding-top: 30px;

}

.advantages__list {
  @include list-reset;
}

.advantages__item {
  position: relative;
  min-height: 304px;

  box-sizing: border-box;
  margin-bottom: 23px;
  padding-top: 125px;
  padding-right: 43px;
  padding-bottom: 26px;
  padding-left: 46px;

  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 95px;
    height: 94px;

    background-repeat: no-repeat;
    transform: translateX(-50%);
  }

  &--fast {
    &::before {
      background-image: url("../img/advantage-1-illustration.svg");
    }
  }

  &--cool {
    &::before {
      background-image: url("../img/advantage-2-illustration.svg");
    }
  }

  &--price {
    &::before {
      background-image: url("../img/advantage-3-illustration.svg");
    }
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 15px;

  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #f7f4f1;
  text-transform: uppercase;
}

.advantages__description {
  margin: 0;
  font-size: 20px;
  line-height: 27px;

  color: #f7f4f1;
}

@media (max-width: $mobile-width-only) {
.advantages__item--fast,
.advantages__item--cool,
.advantages__item--price {
    display: none;
  }

  .advantages__toggles {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }

  #advantages-1:checked ~ .advantages__toggles label[for="advantages-1"],
  #advantages-2:checked ~ .advantages__toggles label[for="advantages-2"],
  #advantages-3:checked ~ .advantages__toggles label[for="advantages-3"] {
    background-color: rgba(255, 255, 255, 1);
  }

  #advantages-1:checked ~ .advantages__list .advantages__item--fast,
  #advantages-2:checked ~ .advantages__list .advantages__item--cool,
  #advantages-3:checked ~ .advantages__list .advantages__item--price {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    // width: 640px;
    // width: 84%;
    // max-width: 1200px;
    // margin: 0 auto;
    &::after {
      bottom: -41px;

      height: 41px;
    }
  }

  .advantages__wrapper {
    width: 84%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 42px;
    padding-bottom: 28px;
  }

  .advantages__item {
    margin: 0 25px 60px 31px;
    padding: 0;
    padding-right: 6px;
    padding-bottom: 18px;
    padding-left: 128px;

    min-height: 0;

    text-align: left;
    &::before {
      top: 3px;
      left: 0;

      transform: none;
    }
    &::after {
      content: "";
      position: absolute;
      right: 10px;
      bottom: -20px;
      left: 7px;

      height: 1px;

      background-color: #4a4a4a;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:last-child::after {
      display: none;
    }
  }

  .advantages__item:nth-child(n) {
    display: block;
  }

  .advantages__toggles {
    display: none !important;
  }
}

@media (min-width: $desktop-width) {

  .advantages {
    // width: 960px;
    &::after {
      bottom: -65px;
      height: 65px;
    }
  }

  .advantages__wrapper {
    padding-top: 79px;
    padding-bottom: 40px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom:0;
  }

  .advantages__item {
    display: block;
    width: 33.3%;
    margin: 0;
    padding: 0 46px;
    padding-top: 125px;

    text-align: center;

    border-right: 1px solid #4a4a4a;

    &:nth-child(2){
      width: 33.3%;
      padding-right: 75px;
      padding-left: 65px;
    }

    &:last-child{
      border: none;
    }

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }

    &::after{
      display: none;
    }
  }

}
