.modal-login {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;

  top: 136px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 100;

  padding: 30px 20px 37px;
  color: #000000;

  background-color: $bg-lightgrey;
  filter: drop-shadow(0 30px 50px rgba(0,0,0,.75));
}

.modal-login--show {
  display: block;

  animation: bounce 0.6s;
}

.modal-login__title {
  margin: 0;
  margin-bottom: 15px;

  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;

  text-transform: uppercase;
}


.modal-login__description {
  display: block;
  margin: 0;
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.modal-login__form p {
  margin: 0;
}

.modal-login__form input[type="text"],
.modal-login__form input[type="password"] {
  box-sizing: border-box;
  width: 280px;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 6px;
  padding: 10px;

  border: 2px solid #e5ddd5;

  &:hover,
  &:focus {
    border-color: #d5c9bd;
  }
}


.modal-login__form input[type="password"] {
  margin-bottom: 22px
}


.login-icon-user {
  background-image: url("../img/user.svg");
  background-position: 245px center;
  background-repeat: no-repeat;
}

.login-icon-password {
  background-image: url("../img/locked.svg");
  background-position: 245px center;
  background-repeat: no-repeat;
}

.modal-login__form .modal-login__help {
  margin-bottom: 30px;
}

.modal-login__help,
.restore {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.restore {
  margin-left: 22px;

  &:hover {
    color: #826550 ;
  }
}

.modal-login__checkbox {
   position: relative;
   cursor: pointer;
  padding-left: 48px;
}

.checkbox-indicator {
  position: absolute;

  left: 0;

  width: 31px;
  height: 31px;

  border: 1px solid #e5ddd5;
  transition: border-color 0.2s linear, background-color 0.1s linear;
  &:hover {
    border-color: #d5c9bd;
  }

  &:active {
    background-color: #d5c9bd;
  }
}

.modal-login__checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}


.modal-login__enter {
  margin-right: 13px;
  padding: 10px 42px;

  font: inherit;
  font-weight: bold;
  color: #ffffff;
  background-color: #826550;

  &:hover,
  &:focus {
    background-color: #6a4d38;
  }
}

.modal-login__close {
  padding: 10px 32px;

  font: inherit;
  font-weight: bold;
  background-color: #f8f5f2;

}
.modal-login__enter span {
  display: none;
}


@media (min-width: $tablet-width) {

  .modal-login {
    position: fixed;

    top: 128px;
    left: 50%;

    box-sizing: border-box;
    width: 460px;
    padding: 50px 70px 57px;


    transform: translateX(-50%);
  }


  .modal-login__form input[type="text"],
  .modal-login__form input[type="password"] {
    width: 320px;
  }

  .login-icon-user,
  .login-icon-password {
    background-position: 280px center;
  }

  .restore {
    margin-left: 60px;
  }

  .modal-login__enter {
    width: 320px;

  }

  .modal-login__close {
    position: absolute;
    top: 73px;
    right: -90px;
    z-index: 105;

    width: 26px;
    height: 26px;

    font-size: 0;
    cursor: pointer;
    outline: none;

    border: none;
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;

      width: 26px;
      height: 3px;

      background-color: #ffffff;
      transform: rotate(45deg);

      transition: background-color 0.1s linear;
    }
    &::before {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
      background-color: #826550;
    }

    &:active {
      background-color: transparent;
    }

    &:active::before,
    &:active::after {
      opacity: 0.5;
    }
  }

  @keyframes bounce {
    0% {
      transform: translate(-50%, -2000px);
    }

    70% {
      transform: translate(-50%, 30px);
    }

    90% {
      transform: translate(-50%, -10px);
    }

    100% {
      transform: translate(-50%, 0);
    }
  }

}
