.social__title {
  display: none;
}

.social__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.social__item {
  list-style: none;
  display: flex;
  flex-grow: 1;
}

.social__link {
  display: block;
  flex-grow: 1;
  box-sizing: border-box;
  height: 101px;

  font-size: 0;

  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #3e3e3e;
  outline: none;

  &--vkontakte {
    width: 107px;

    background-image: url("../img/vk-big.png");
  }
  &--facebook {
    width: 104px;
    margin-right: -1px;
    margin-left: -1px;

    background-image: url("../img/fb-big.png");
  }

  &--instagram {
    width: 109px;

    background-image: url("../img/ig-big.png");
  }

  &:hover,
  &:focus {
    border-color: #515151;
  }

  &:active {
    background-color: #252525;
    border-color: #252525;
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {

  .social {
    width: 162 px;
  }

  .social__list {
    margin: 0;
  }

  .social__link {
    width: 50px;
    height: 50px;

    margin-right: 6px;

    &--vkontakte {
      background-image: url("../img/vk-small.png");
    }
    &--facebook {
      background-image: url("../img/fb-small.png");
    }
    &--instagram {
      background-image: url("../img/ig-small.png");
    }
  }

  .social__title {
    display: block;
    text-align: center;
    font-weight: normal;
    margin-bottom: 10px;
  }
}
